#introduction-section{
    padding: 0px 15px 250px 15px;
}

#introduction-section .title{
    position: relative;
    width:200px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin: 0 auto;

}

#introduction-section h1
{
    letter-spacing: 40px;
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
    color:pink;
    z-index: 1;
}


#introduction-section .introduction-container{
    display: grid;
    grid-template-rows: 0.8fr 0.3fr 0.1fr;
    grid-gap: 10px;
}

#introduction-section .introduction-container .box{
    background: rgba(255, 255, 255, 0.274);
    padding: 40px;
    transition : all .4s ease-in-out;
    cursor: pointer;
    border-radius: 1rem;
}

#introduction-section .introduction-container .box h5{
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    color:white;
 
}

#introduction-section .introduction-container .box p{
    font-size: 1.2rem;
    line-height: 1.5;
    color : #b3b3b3
}

#introduction-section .introduction-container .box.blue h5{ 
    color: #faf9d8
}
#introduction-section .introduction-container .box.blue .fas{
    font-size: 2rem;
    margin-bottom: 2rem;
    color:#faf9d8;
}

#introduction-section .introduction-container .box.red h5{ 
    color: #95cbfa
}
#introduction-section .introduction-container .box.red .fas{
    font-size: 2rem;
    margin-bottom: 2rem;
    color:#95cbfa;
}

#introduction-section .introduction-container .box.yellow h5{ 
    color: #a7efd2
}
#introduction-section .introduction-container .box.yellow .fas{
    font-size: 2rem;
    margin-bottom: 2rem;
    color:#a7efd2;
}




/*tablets*/
@media only screen and (max-width: 1248px){
    #introduction-section .introduction-container{
        grid-template-columns: 100%;
        align-items: center;
    }
    #introduction-section .introduction-container .box h5{
        margin-bottom: 0.3rem;
    }
    #introduction-section .introduction-container .box{
        padding:0 30px;
    }
    #introduction-section .introduction-container .box.blue .fas{
        margin-bottom: 0.3rem;
    }
    #introduction-section .introduction-container .box.red .fas{
        margin-bottom: 0.3rem;
    }
    #introduction-section .introduction-container .box.yellow .fas{
        margin-bottom: 0.3rem;
    }
    #introduction-section .introduction-container .box p{
        font-size: 1.3rem;
    }
}

/*phones*/
@media only screen and (max-width: 767px){
    #introduction-section .title .circle{
        width : 80px;
        height : 80px;
    }
    #introduction-section .title h1{
        font-size: 2rem;
        top:-35px;
        margin-bottom:0;
    }
    #introduction-section .introduction-container{
        grid-template-columns: 100%;
    }
    #introduction-section .introduction-container .box h5{
        margin-bottom: 0.3rem;
        font-size: 1rem;
    }
    #introduction-section .introduction-container .box{
        padding:0;
    }
    #introduction-section .introduction-container .box.blue .fas{
        margin-bottom: 0.3rem;
    }
    #introduction-section .introduction-container .box.red .fas{
        margin-bottom: 0.3rem;
    }
    #introduction-section .introduction-container .box.yellow .fas{
        margin-bottom: 0.3rem;
    }
}
